section{
    height: 100vh;
}

#intro-section{
    background:url(./assets/backgrounds/h_img.jpg) center center;
    background-size: cover;
    color: white;
}

#services{
    background: url(./assets/backgrounds/s_image.jpg) center center;
    background-size: cover;
}

#portfolio-section img{
    width: 100%;
}